body{
  overflow: hidden;
  margin: 0;
}
.wrapper {
  max-width: 1900px;
  background: url(./kosmos-3d-art-1053.jpg)no-repeat center;
  background-size: cover;
display: flex;
flex-direction: column;
margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
}
.header-block {
  max-width: 300px;
  height: 60px;
  border: 2px solid black;
  background-color: rgb(8, 92, 92);
}
.main {
  flex: 1 1 auto;
  display: flex;
justify-content: space-around;
/* border: 20px solid rgb(59, 6, 202); */
}
.section1 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
 border: 5px solid rgb(59, 6, 202);

}
.section1-top{
  
  max-width: 1280px;
  max-height: 720px;
  height: 70%;
margin-left: 10%;
margin-right: 10%;
  border: 2px solid black;
background-color: rgb(151, 10, 116);
}
.footer-section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  height: 100px;
  margin-left: 10%;
  margin-right: 10%;
}
.footer-block {
  max-width: 100px;
  height: 60px;
border: 2px solid black;
background-color: rgb(187, 236, 9);
}
.section2 {
  flex: 1 1 auto;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 5px solid rgb(6, 202, 55);

}
.section2-block {
  max-width: 130px;
border: 2px solid black;
background-color: rgb(9, 236, 96);
}
